{CSSTemplate {
    $classpath : "app.style.MyTemplateStyle",
    $hasScript : false
}}
    {macro main()}
        .wrapper {
          height:100%; 
          width:100%; 
          background-color:#f8f8f8;
        }
        div.thumb {
          padding: 5px;
          height: auto;
          width: auto;
          max-width: 300px;
          max-height: 400px;
          border: 2px solid #666;
        }
        img.thumb {
          height: auto;
          width: auto;
          max-width: 300px;
          max-height: 400px;
        }
       {/macro}
{/CSSTemplate}